*

{
  margin :0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}


.container_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height:100%;
  width:100%;
}


.container_box .boxx{
  position: relative;
  width:50%;
  height: 50vh;
  display: inline-block;
  overflow: hidden;
}


img{
  width: 100%;
  height: 100%;
  transition:all linear 1s;
  object-fit: cover;
  object-position: right;
}

.hover-img{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*
.container .box img{
position: absolute;
top:0;
left:0;
width: 100%;
height: 100%;
opacity:1;
object-fit: cover;
}
*/

.boxx:hover img{
  opacity: 1;
}
.boxx:hover .hover-img{
  opacity: 1;
}
*
