*{
  box-sizing: border-box;
}


.killbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height:100%;
  width:100%;
}


.killbox .boxes{
  position: relative;
  width:50%;
  height: 50vh;
  display: inline-block;
  overflow: hidden;
}


.killbox .boxes img{
  height: 100%;
  transition:all linear 1s;
  object-fit: cover;
}
.box1a{
  object-position: right;
}
.box2a{
  object-position: right;
}
.box3a{
  object-position: right 35%;
}
.box4a{
  object-position: center 50%;
}
.box4b{
  object-position: center;
}

@media only screen and (min-width: 781px){
  .hover-img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .boxes:hover img{
    opacity: 1;
  }
  .boxes:hover .hover-img{
    opacity: 1;
  }
}
/*
.container .box img{
position: absolute;
top:0;
left:0;
width: 100%;
height: 100%;
opacity:1;
object-fit: cover;
}
*/
@media only screen and (max-width: 780px) {

  .fade-out {
    opacity: 0;
    transition: all 0.5s;
  }

  .fade-in-delay {
    opacity: 1;
    transition: all 1s 0.5s;
  }

  .hide {
    display: none;
  }
}
*
