*{
  box-sizing: border-box;
}

.killbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height:100vh;
  width:100%;
}
.killbox .boxes{
  position: relative;
  width:50%;
  height: 50vh;
  display: inline-block;
  overflow: hidden;
}

.killbox .boxes img{
  height: 100%;
  transition:all linear 1s;
  object-fit: cover;
  cursor: pointer;
}
.box1a{
  object-position: right;
}
.box2a{
  object-position: right;
}
.box3a{
  object-position: right 35%;
}
.box4a{
  object-position: center 35%;
}
.fade-out {
  opacity: 0;
  transition: all 0.5s;
}

.fade-in-delay {
  opacity: 1;
  transition: all 1s 0.5s;
}

.hide {
  display: none;
}

*
