@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
  }

html{
  margin:0;
  padding:0;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
  /* overflow: hidden; */
}

/*
.container{
  width: 100%;
  height: 100%;

  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}  css smooth scroll */

.navbar{
  text-decoration: none;
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;

}

.navbar ul{
  text-decoration: none;
  float: right;
  margin: 0;
  padding: 10px;
  display: flex;
}

.navbar ul li{
  list-style: none;

}

.navbar ul li a{
  text-decoration: none;
  color: #5AA86B;
  padding: 15px;
  margin: 0;
  transition: .5s;
  font-family: 'MaruBuri-Regular';
  text-shadow: 1px 1px 1px gray;
  /*
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  */
}

@media screen and (min-width: 896px){
  a.example{
    font-size: 45px;
  }
}

@media screen and (max-width: 895px){
  a.example{
    font-size: 4vw;
  }
}


.navbar ul li a:hover {
  color: white;
}

.navbar li.active a {
  color: black;
}


.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  scroll-snap-align: center;

}

/*call and message*/
.fab{
  position: fixed;
  left: 20px;
  bottom: 20px;
  border-radius: 40%;
  width: 47px;
  height: 47px;
  background: #5AA86B;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.fab:hover{
  cursor: pointer;
}
.fab img{
  transform: rotate(45deg);
  transition: 0.4s;
}
.box{
  position: fixed;
  bottom: 44px;
  left: 80px;
  height: 24px;
  transition-delay: 0.3s;
  width: 0px;
  transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fltng{
  overflow: hidden;
  border-radius: 50%;
  transition: 0.4s ease-in;
  width: 45px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  margin: 2px;
}
.fltng img{
  width: 70%;
}
.btn1{
  transition-delay: 0.2s;
  background: #3D7349;
}
.btn2{
  transition-delay: 0.2s;
  background: #3D7349;
}
.fltng:hover{
  cursor: pointer;
}

.box-active{
  width: 100px;
}
.fab-active img{
  transform: rotate(270deg);
}

/*???
.fltng:hover img{
  transform: rotate(360deg);
  transition: all 0.5s;
}
*/
.wrapper{

  max-height: 1000px;
  border: 1px solid white;
  display: flex;
  overflow-x: auto;
}

.wrapper::-webkit-scrollbar{
 width: 0;
}

.wrapper .item{
 min-width: 150%;
  height:100%;
}
